body {
    margin:0;
    padding:0;
}
#header{
    font-family:sans-serif;
    font-size:12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5 px;
    border-top: 0px;
    width:30%;
    top:0;
}
#hh1:hover,#hh2:hover,#hh3:hover,#hh4:hover{
   color:gray;
}
#headT{
    padding-top: 0px;
    border-spacing: 20px;
}
#Head2{
    font-family:sans-serif;
    font-size:20px;
    width: 100%;
    text-align: center;
}
#table2H{
    width:100%;
   border-spacing: 33% 0px; 
   margin: auto;
}
#drp{
    margin:auto;
    width:40%;

}
#drpT{
    padding: 1px;
}
#all{
    width:100%;
}
#search {
    text-align: left;
}
#search,#logo,#symbols{
   
width:33%;
}
*:not([class^="fa"]) {
    font-family: 'Open Sans', sans-serif !important;
  }
#link-1  {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Styling the dropdown button */
.dropbtn {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
#w:hover,#m:hover,#b:hover,#h:hover,#k:hover,#s:hover,#sa:hover,#su:hover {
    color:red;
}
#txt {
    font-family: sans-serif;
    font-size: 13px;
    margin:auto;
align-items: center;
    width:100%;

}
#txtT {
    padding:20px;
    border-spacing:200px 30px;
    margin-right: auto;
    margin-left: auto;
}
#search {
    border-bottom:0.5px solid black;
    padding-bottom:0.1px;
    width:150px;
}
.dropbtn:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdown-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdown-content ul li {
    list-style-type: none;
    margin-bottom: 1px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
    font-family: sans-serif;
    font-size: 10px;
    
}

.dropdown-content ul li a {
    display: block; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdown-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
   
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}     

.content-right{
        margin-left: 150px; /* Adjust the value as needed */
        display:inline-flex;
        bottom: 165px;
}






/* Styling the dropdown button */
.dropbtnM {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
.dropbtnM:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdownM-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdownM-content ul li {
    list-style-type: none;
    margin-bottom: 5px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
}

.dropdownM-content ul li a {
    display: block; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdownM-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
  
}

/* Show dropdown content on hover */
.dropdownM:hover .dropdownM-content {
    display: block;
}     








/* Styling the dropdown button */
.dropbtnB {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
.dropbtnB:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdownB-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdownB-content ul li {
    list-style-type: none;
    margin-bottom: 5px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
}

.dropdownB-content ul li a {
    display: block; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdownB-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
  
}

/* Show dropdown content on hover */
.dropdownB:hover .dropdownB-content {
    display: block;
}     










/* Styling the dropdown button */
.dropbtnK {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
.dropbtnK:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdownK-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdownK-content ul li {
    list-style-type: none;
    margin-bottom: 5px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
}

.dropdownK-content ul li a {
    display: block; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdownK-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
  
}

/* Show dropdown content on hover */
.dropdownK:hover .dropdownK-content {
    display: block;
}     







/* Styling the dropdown button */
.dropbtnH {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
.dropbtnH:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdownH-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdownH-content ul li {
    list-style-type: none;
    margin-bottom: 5px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
}

.dropdownH-content ul li a {
    display: block; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdownH-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
  
}

/* Show dropdown content on hover */
.dropdownH:hover .dropdownH-content {
    display: block;
}     









/* Styling the dropdown button */
.dropbtnS {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
.dropbtnS:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdownS-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdownS-content ul li {
    list-style-type: none;
    margin-bottom: 5px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
}

.dropdownS-content ul li a {
    display: block; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdownS-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
  
}

/* Show dropdown content on hover */
.dropdownS:hover .dropdownS-content {
    display: block;
}     





/* Styling the dropdown button */
.dropbtnSA {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
.dropbtnSA:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdownSA-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdownSA-content ul li {
    list-style-type: none;
    margin-bottom: 5px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
}

.dropdownSA-content ul li a {
    display: block; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdownSA-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
                                
}

/* Show dropdown content on hover */
.dropdownSA:hover .dropdownSA-content {
    display: block;
}     







/* Styling the dropdown button */
.dropbtnSU {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    color: black;
}
.dropbtnSU:hover{
    border-bottom: 2px solid black;
}
/* Positioning the d\ropdown content */
.dropdownSU-content {
    display: none; 
    position: fixed;
    background-color: #f1f1f1; /* Background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1; /* Ensure it stays on top */
}

/* Styling the dropdown links 
.dropdown-content ul {
    list-style-type: none; 
   
}*/

.dropdownSU-content ul li {
    list-style-type: none;
    margin-bottom: 5px; /* Spacing between items */
    padding: 4px; /* Padding for the list */
}

.dropdownSU-content ul li a {
    display: inline-flex; /* Make links block elements */
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    padding: 8px 16px; /* Padding around text */
    transition: background-color 0.3s; /* Smooth transition */
}

.dropdownSU-content ul li a:hover {
    background-color: #f1f1f1; /* Background color on hover */
  
}

/* Show dropdown content on hover */
.dropdownSU:hover .dropdownSU-content {
    display: block;
}     

#b1,#b2,#b3,#b4,#b5,#b6,#b7 {
    background-color: transparent;
    padding: 10px; 
    font-size: 16px; 
    border: 0.5px solid black;
    border-radius:20px; 
    color: black;
}
#a1,#a2,#a3,#a4 {
display: inline-block;
}
#trend {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}
#des {
    display:inline-flex;
    width:100%;
    margin-left: auto;
    margin-right: auto ;
}

form {
    background-color: transparent;
    
    border:none;
   width:80%
  }
  input, textarea {
    width: 80%; /* Make form elements full width within the form */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add margin bottom for spacing */
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}
  #pp {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align: center;
  }
  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel img {
    width: 25%; /* Adjust to 25% to show 4 images in a row */
    flex: 0 0 auto;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  #tro{
    width:100%;
    
    text-align: center;
  }
  #troT {
    margin:auto; 
    width: 80%;
    border-spacing: 20px 7px;
  }